<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
    <style>
        #map {
            height: 60%;
            width: 60%;
            margin: 0px;
            /* transform: translate(0%,0%) */
            position:absolute;
            right:0px;
            margin-right:0px;
        }
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeZTqGegXOWEH6-f9OMVSZHZScVy2LDB4&callback=initMap">
    {% comment %} <script async defer src="https://maps.googleapis.com/maps/api/jsjs?v=3.exp&sensor=false"> {% endcomment %}
    </script>
</head>

<body>
    <div style="padding:10px;height: 50%;width: 60%;position: absolute;top: 0px;right: 0px">
        <div id="floating-panel">
            <input onclick="clearMarkers();" type=button value="Hide Markers">
            <input onclick="showMarkers();" type=button value="Show All Markers">
            <input onclick="deleteMarkers();" type=button value="Delete Markers">
        </div>
    </div>
    <div>
        <div style="position:absolute">
            <b>Distance: {{distance}}</b>km <br/>
            <b>Duration: {{duration}}</b>
        </div>
        <div id="map"></div>
    </div>
    <script>
        function initMap() {
            var startpoint = {lat:{{lat_s}},lng:{{lng_s}}}
            var endpoint = {lat:{{lat_e}},lng:{{lng_e}}}
            var center = {lat:(startpoint.lat+endpoint.lat)/2,lng:(startpoint.lng+endpoint.lng)/2}


            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: center,
                mapTypeId: 'terrain',
            });
            var marker_startpoint = new google.maps.Marker({
                position: startpoint,
                map: map,
                title: 'Your current location'
            });
            var marker_endpoint = new google.maps.Marker({
                position: endpoint,
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                title: 'Arrival'
            });
            var flightPlanCoordinates = [{{map}}];
            var flightPath = new google.maps.Polyline({
                path: flightPlanCoordinates,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            flightPath.setMap(map);
        }
    </script>
</body>

</html>